@import './tokens.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  color: var(--color-text);
  text-align: center;
}

.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}