:root {
  /* Fonts */
  --font-body: Arial, Helvetica, sans-serif;
  --font-heading: 'Times New Roman', Times, serif;

  /* Radius */
  --radius-sm: 5px;
  --radius-md: 10px;
  --radius-lg: 15px;

  /* Text Colors */
  --color-text: #000000;
  --color-placeholder-text: #888888;

  /* Blues */
  --color-blue: #a5d8ff;
  --color-hover-blue: #e7f5ff;
  --color-blue-stroke: #1971c2;

  /* Yellows */
  --color-yellow: #ffec99;
  --color-hover-yellow: #fff9db;
  --color-yellow-stroke: #fab005;

  /* Grays */
  --color-gray: #f5f5f5;
  --color-gray-stroke: #999;
}
